---
import Layout from "../layouts/Layout.astro";
import CanvasContainer from "../components/CanvasContainer.astro";
---

<Layout title="Welcome to Astro.">
  <main class="m-auto">
    <CanvasContainer />
  </main>
</Layout>
