---
import Header from "../components/Header";
import HeaderAlternative from "../components/Header/HeaderAlternative.astro";
import StarMenu from "../components/StarMenu";
import FlowerAnimation from "../components/FlowerAnimation";
import Layout from "../layouts/Layout.astro";

import { ClerkLayout } from "astro-clerk-auth/components/control";

---

<ClerkLayout>
  <Layout title="Bad Reviews Make Good Movies">
    <main class="h-full">

      <HeaderAlternative/>
      <Header />
      <FlowerAnimation client:visible />
      <StarMenu client:load />
    </main>
  </Layout>
</ClerkLayout>
