---
import Header from "../components/Header";
import StarMenu from "../components/StarMenu";
import FlowerAnimation from "../components/FlowerAnimation";
import { UpdateUserForm } from "../components/UpdateUser";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main class="m-auto">
    <Header />
    <div class="">
      <UpdateUserForm />
      <!-- <StarMenu client:load />
      <FlowerAnimation client:visible /> -->
    </div>
  </main>
</Layout>
