---
import Header from "../components/Header";
import Layout from "../layouts/Layout.astro";
import { SearchMovies } from "../components/Watchlist/SearchMovies";
import WatchlistMovies from "../components/Watchlist/WatchlistMovies.astro";
---

<Layout title="Welcome to Astro.">
  <main class="m-auto">
    <Header />
    <div class="flex gap-8 items-end h-[100vh] p-2 overflow-auto">
      <div class="w-[30%] h-full p-4">
        <h1>Search</h1>
        <SearchMovies client:only/>
      </div>
      <WatchlistMovies />
    </div>
  </main>
</Layout>


