---
import Header from "../components/Header";
import HeaderAlternative from "../components/Header/HeaderAlternative.astro";
import Layout from "../layouts/Layout.astro";
import { SearchMovies } from "../components/Watchlist/SearchMovies";
import { WatchlistMovies } from "../components/Watchlist/WatchlistMovies";
---

<Layout title="Bad Reviews Make Good Movies">
  <main class="m-auto">
    <HeaderAlternative />
    <div class="flex gap-8 items-end h-[100vh] p-2 overflow-auto w-full">
      <SearchMovies client:only />
      <WatchlistMovies client:load />
    </div>
  </main>
</Layout>
