---
import { Header } from "../components/Header";
import Layout from "../layouts/Layout.astro";
import { SearchMovies } from "../components/Watchlist/SearchMovies";
import { WatchlistMovies } from "../components/Watchlist/WatchlistMovies";
import { ResponsiveContainer } from "../components/Watchlist/ResponsiveContainer.tsx"
---

<Layout>
  <main class="m-auto">
    <Header />
      <ResponsiveContainer client:only />
  </main>
</Layout>

