---
import SignedIn from "../TrialSignedIn.astro";
import UserButton from "../TrialUserButton.astro";
import SignedOut from "../TrialSignedOut.astro";
import SignUpButton from "../TrialSignUpButton.astro";
---

<div class="bg-[#fafafa] h-24 p-4 flex justify-between items-center">
  <a
    href="/"
    id="landing-page"
    data-astro-reload
    class="bg-[#defe56] p-4 font-mono700Regular w-fit outline outline-1 outline-[#11111]"
  >
    bad reviews make good movies
  </a>

  <SignedIn>
    <UserButton />
  </SignedIn>

  <SignedOut>
    <SignUpButton />
  </SignedOut>
</div>
