---

---

<user-button>
  <div id="auth-user-button"></div>
</user-button>

<script>
  import { authStoreAPI } from "../../lib/authStore";

  class UserButton extends HTMLElement {
    constructor() {
      super();

      const userButton =
        document.querySelector<HTMLDivElement>("#auth-user-button")!;

      const auth = authStoreAPI.get();

      auth.subscribe(async (clerk) => {
        clerk.mountUserButton(userButton, {
          afterSignOutUrl: "/",
        });
      });
    }
  }

  customElements.define("user-button", UserButton);
</script>
