---
const { classes } = Astro.props;
---

<signed-in-container>
  <div class=`auth-signed-in hidden ${classes ?? ''}`>
    <slot />
  </div>
</signed-in-container>

<script>
  import { authStoreAPI } from "../../lib/authStore";

  class SignedInContainer extends HTMLElement {
    constructor() {
      super();

      const signedIn = document.querySelectorAll(".auth-signed-in")!;

      const auth = authStoreAPI.get();

      auth.subscribe(async (clerk) => {
        if (!!clerk.user) {
          signedIn.forEach((el) => {
            el.classList.remove("hidden");
          });
        } else {
          signedIn.forEach((el) => {
            el.classList.add("hidden");
          });
        }
      });
    }
  }

  customElements.define("signed-in-container", SignedInContainer);
</script>
