---
import SignedIn from "./TrialSignedIn.astro";
import UserButton from "./TrialUserButton.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro + Clerk</title>
  </head>
  <body class="min-h-screen flex flex-col">
    <header
      class="flex items-center h-20 gap-4 px-4 border-b border-black border-solid sm:px-8 border-opacity-20 md:px-20"
    >
      <div class="grow"></div>
      <SignedIn classes="flex flex-row gap-4">
        <UserButton />
      </SignedIn>
    </header>
    <main class="grow">
      <slot />
    </main>
  </body>
</html>

<script>
  import { initializeClerk } from "../../lib/clerk";
  initializeClerk();
</script>
